body {
    font-family: Montserrat;
}

p {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 10px;
}

.description-link {
    text-decoration: underline;
    cursor: pointer;
}